body {
    background: url("../images/symphony.png");
    height: 100%;
    width: 100%;
}

h1 {

}

.home-page {
    /* position:absolute; */
    background: rgb(63,63,191,0.33);
    border: 1px solid black;
    height: 100%;
    top: 50px;
    left: 260px;
}

.search-area {
    position: relative;
    top : 170px;
    left: 355px;
}
.hide {
    display: none;
}

#greetings {

    font-family: 'Flavors', 'cursive';
    top: 60px;
    left: 0px;
}

#greetings-text {
    font-size: 85px;
    line-height: 1.5;
}

.app-name {

    font-family: 'Nosifer', 'cursive';
    top: 130px;
    left: 95px;
}

.app-text  {
    font-size: 80px;
    line-height: 1.5;
}

#search-btn{

    justify-content: center;
}

/* #search-label {
    font-size: 20px;
    font-weight: bold;
    color: #353838;
} */

#artist-name {
    background: #420ce8;
    color: #ddd;
    font-weight: bold;
}

.result-page {
    background: #fff;
}

.navigation {
    
}

.result-header {
    font-family: 'Nosifer', 'cursive';
    background: #ff3800;
}

.result-subtitle {
    margin: 30px 5px;
}

#result-appName {
    margin-top: 35px;
    margin-left: 125px;
    font-size: 80px;
    line-height: 1.5;
}
.event-card {
    margin-top: 45px;
}
.state {
    color: #ff3800;
}
.event-date {
    color: green;
}

@media screen and (min-width: 576px) { 
    .app-name {
        font-size: 40px;
        position: relative;
        left: 40px;
    }
    .app-text {
        font-size: 54px;
    }
    .search-area {
        position: relative;
        top : 150px;
        left: 85px;
    }
    #result-appName {
        font-size: 40px;
        margin-left: 24px;
        margin-top: 14px;
    }
}
@media screen and (min-width: 768px) { 
    .app-name {
        font-size: 40px;
    }
    .app-text {
        font-size: 75px;
    }
    .search-area {
        position: relative;
        top : 150px;
        left: 225px;
    }
    #result-appName {
        font-size: 60px;
        margin-left: 30px;
        margin-top: 14px;
    }
}

@media screen and (min-width: 992px) { 
    .app-name {
        position: relative;
        left: 85px;
    }
    .app-text {
        font-size: 75px;
    }
    .search-area {
        position: relative;
        top : 170px;
        left: 390px;
    }
    #search-btn{
        position: relative;
        top: 20px;
        left: 90px;
    
    }
    #result-appName {
        font-size: 83px;
        margin-left: 30px;
        margin-top: 14px;
    }
}
   