body, html {
    background: url("../images/symphony.png");
    height: 100%;
    width: 100%;
}

::-webkit-input-placeholder {
    text-align: center;
 }

.home-page {
    background: rgb(63,63,191,0.33);
    border: 1px solid black;
    width: 80%;
}

.hide {
    display: none;
}

.app-text  {
    line-height: 1.5;
}

#sidebar {
    position: fixed; 
    top: 0; 
    left: 0%; 
    height: 100%; 
    width: 300px; 
    overflow-x: hidden; 
    z-index: 1;
}

li, li a {
    width: 100%;
    
    color: #000000;
}

li:hover {
    background-color: rgba(63, 63, 191, 0.363);
    
}

.p-3 {
    font-size: 20px;
    font-weight: 430px;
    line-height: 40px;
}

a:hover {
    text-decoration: none;
    color: #000000;
}

h2{
    width: 100%;
    background-color: rgb(63,63,191,0.33);
}

#search-btn{
    width: 100px;
    background-color: rgba(63, 63, 191, 0.363);
    border: solid 2px rgba(0,0,0,0.55);
    color: white;
}

#search-btn:active{
    border: solid 2px #FFF;
}

#artist-name {
    background:  rgba(0, 13, 194, 0.33);
    font-weight: bold;
}

#imglogo{
    height: 50px;
}

#imglogo_sm{
    height: 30px;
}

.navigation {
    background: rgba(0, 13, 194, 0.33);
}

#pageResults {
    margin-left: 10%;
    padding: 0px 50px;
}

.result-header {
    font-family: 'Nosifer', 'cursive';
    background: rgba(0, 13, 194, 0.33);
}

.event-card {
    margin-top: 45px;
}
.state {
    color: #ff3800;
}
.event-date {
    color: green;
}

/* @media screen and (max-width: 1650px) { 
    #sidebar {
        position: fixed; 
        top: 0; 
        left: 5%; 
        height: 100%; 
        width: 175px; 
        overflow-x: hidden; 
        z-index: 1;
    }
    
    #pageResults {
        margin-left: 1%;
        padding: 0px 10px;
    }
} */

/* @media screen and (max-width: 1005px) { 
    #sidebar {
        position: fixed; 
        top: 0; 
        left: 0; 
        height: 100%; 
        width: 175px; 
        overflow-x: hidden; 
        z-index: 1;
    }
    
    #pageResults {
        margin-left: 160px;
        padding: 0px 10px;
    }
} */

@media screen and (max-width: 685px) { 
    #sidebar {
        position: fixed; 
        top: 0; 
        left: 0px; 
        height: 100%; 
        width: 175px; 
        overflow-x: hidden; 
        z-index: 1;
    }
    
    #pageResults {
        margin-left: 25%;
        padding: 0px 10px;
        overflow-x: hidden;
    }    
}